:host{
    padding: 20px;
    background-color: yellow;
}
table {
    width: 50%;
    text-align: center;
  }

  .bgt1{
    margin: 10px;
    text-align: center;
    width: 100%;
    
  }

  .bgt2{
    margin: 10px;
    text-align: center;
    width: 100%;
   
  }
  